---
import BaseLayout from "../layouts/BaseLayout.astro";
import client from "../data/client.json";
import Landing from "../components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "../js/utils"
import landingImage from "../assets/images/dentist-clinic.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="About"
  description="Contact Us Today"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Contact Us" 
    image={optimizedImage}
  />

  



                              
<!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1403">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Contact Us</span>
          <h2 class="cs-title">Get in Touch</h2>
          <p class="cs-text">
            Have questions or need to book an appointment? Our team is here to help, reach out and we’ll take care of the rest
          </p>
          <ul class="cs-ul">
              <li class="cs-li">
                  <picture class="cs-icon-wrapper">
                      <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/phone-76.svg" alt="phone icon" class="cs-icon" width="40" height="40" decoding="async">
                  </picture>
                  <div class="cs-flex-group">
                      <span class="cs-header">Phone</span>
                      <a href="tel:888-4565-789
                      " class="cs-link">+1 (888) 4565 789
                      </a>
                  </div>
              </li>
              <li class="cs-li">
                  <picture class="cs-icon-wrapper">
                      <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mail-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                  </picture>
                  <div class="cs-flex-group">
                      <span class="cs-header">Email</span>
                      <a href="mailto:Email@stitch.com" class="cs-link">Email@stitch.com</a>
                  </div>
              </li>
              <li class="cs-li">
                  <picture class="cs-icon-wrapper">
                      <img aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pin-76.svg" alt="address icon" class="cs-icon" width="40" height="40" decoding="async">
                  </picture>
                  <div class="cs-flex-group">
                      <span class="cs-header">Address</span>
                      <a href="" class="cs-link">2553 Woodbridge Lane, Boston Ware 120</a>
                  </div>
              </li>
          </ul>
      </div>
      <!--Form-->
      <form class="cs-form" id="cs-form-1403" name="Contact Form" method="post">
          <h3 class="cs-h3">Make Appointment</h3>
          <label class="cs-label">
              Name
              <input class="cs-input" required type="text" id="name-1403" name="name" placeholder="Name">
          </label>
          <label class="cs-label cs-email">
              Email
              <input class="cs-input" required type="email" id="email-1403" name="email" placeholder="Email">
          </label>
          <label class="cs-label cs-phone">
              Phone
              <input class="cs-input" required type="number" id="phone-1403" name="phone" placeholder="Phone">
          </label>
          <label class="cs-label">
              Message
              <textarea class="cs-input cs-textarea" required name="Message" id="message-1403" placeholder="Write message..."></textarea>
          </label>
          <button class="cs-button-solid cs-submit" type="submit">Send Message</button>
      </form>
  </div>
</section>

<!-- ============================================ -->
<!--          Google Map Iframe Embed             -->
<!-- ============================================ -->

<section id="map-1403">
  <!--Replace this embed code with the google maps embed code of your clients location. To do so, google your clients business, click on the map picture that in the profile card to go to the map location. That will take you to Google maps, then find the share button in the left panel and click on it. You will be given a link to share and a button to copy link, ignore that! AAbove that is a tab that says "Embed a map", click that instead and it will bring up the embed code for you clients location in maps.  Click the button to copy the html and paste it in place of this entire iframe tag. Do not keep the original iframe. Replace it with the new one you got from google maps, unless you want to display a map of Wyoming, then you can keep this iframe. -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.4662968265166!2d-4.260565723160221!3d55.854575773122065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4888469a292eb6bd%3A0xb369dae45b81cc88!2sBank%20Of%20Scotland%2C%201%20Bridge%20St%2C%20Glasgow%20G5%209JB!5e0!3m2!1sen!2suk!4v1733410954241!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>



<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1403">
  <div class="cs-container">
      <div class="cs-content">
          <span class="cs-topper">Testimonials</span>
          <h2 class="cs-title">Happy Client’s Feedback About Our Service</h2>
      </div>
      <ul class="cs-card-group">
          <li class="cs-item">
              <!--Blue Quote-->
              <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
              <p class="cs-item-text">
                The team here makes every visit stress-free and pleasant. Their dedication to quality care really stands out 
              </p>
              <div class="cs-flex-group">
                 
                  <span class="cs-name">
                        Chloe Richardson
                      <span class="cs-job">Dedicated Client</span>
                  </span>
              </div>
          </li>
          <li class="cs-item">
              <!--Blue Quote-->
              <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/pink-quotes.svg" decoding="async" alt="quote icon" width="120" height="99">
              <p class="cs-item-text">
                Supporting this dental practice has been a pleasure. They truly care about the community and provide a level of service that feels personal and trustworthy.
              </p>
              <div class="cs-flex-group">
                  
                  <span class="cs-name">
                      Isla Roberts
                      <span class="cs-job">Regular Patient</span>
                  </span>
              </div>
          </li>
      </ul>
  </div>
</section>


<style>
  /*-- -------------------------- -->
<---          Banner            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #banner-1403 {
        padding: var(--sectionPadding);
        /* 190px - 268px */
        padding-top: clamp(11.875rem, 25vw, 16.75rem);
        padding-bottom: 6.25rem;
        /* clips the line from causing overflow issues for going off screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #banner-1403 .cs-container {
        text-align: center;
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        /* 8px - 12px */
        gap: clamp(0.5rem, 1vw, 0.75rem);
    }
    #banner-1403 .cs-int-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        margin: 0;
        color: var(--bodyTextColorWhite);
        position: relative;
    }
    #banner-1403 .cs-breadcrumbs {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #banner-1403 .cs-link {
        font-size: 1rem;
        line-height: 1.2em;
        text-decoration: none;
        color: var(--bodyTextColorWhite);
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #banner-1403 .cs-link:last-of-type {
        /* remove the chevron on the last list item */
    }
    #banner-1403 .cs-link:last-of-type::after {
        display: none;
    }
    #banner-1403 .cs-link:after {
        /* chevron */
        content: "";
        width: 0.4375rem;
        height: 0.75rem;
        margin: 0 1rem;
        background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/white-chev.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: block;
    }
    #banner-1403 .cs-link.cs-active {
        color: var(--primary);
    }
    #banner-1403 .cs-background {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    #banner-1403 .cs-background:before {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.4;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 1;
    }
    #banner-1403 .cs-background:after {
        /* gradient overlay */
        content: "";
        width: 100%;
        height: 40%;
        background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#000000),
            to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(top, #000000 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(
            to bottom,
            #000000 0%,
            rgba(0, 0, 0, 0) 100%
        );
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: 2;
    }
    #banner-1403 .cs-background img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Makes img tag act as a background image */
        object-fit: cover;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #banner-1403 .cs-background:before {
        width: 50%;
        height: 100%;
        background: -webkit-gradient(
            linear,
            left top,
            right top,
            from(#000000),
            to(rgba(0, 0, 0, 0))
        );
        background: -o-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 100%);
        background: linear-gradient(
            to right,
            #000000 0%,
            rgba(0, 0, 0, 0) 100%
        );
        opacity: 1;
    }
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #contact-1403 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        background-color: #f7f7f7;
        position: relative;
        z-index: 10;
    }
    #contact-1403 .cs-container {
        width: 100%;
        /* changes to 1280px at tablet */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        column-gap: auto;
        /* 48px - 64px */
        gap: clamp(2rem, 3vw, 3rem);
        position: relative;
    }
    #contact-1403 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
    }

    #contact-1403 .cs-title {
        max-width: 23ch;
    }
    #contact-1403 .cs-text {
        margin-bottom: 1rem;
    }
    #contact-1403 .cs-text:last-of-type {
        margin-bottom: 2rem;
    }
    #contact-1403 .cs-ul {
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.5rem;
        position: relative;
    }
    #contact-1403 .cs-li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1.25rem;
    }
    #contact-1403 .cs-li:hover .cs-icon-wrapper {
        transform: scale(1.1);
    }
    #contact-1403 .cs-header {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: 0.75rem;
        color: var(--headerColor);
        display: block;
    }
    #contact-1403 .cs-link {
        font-size: 1rem;
        line-height: 1.5em;
        text-decoration: none;
        color: #767676;
        display: block;
        position: relative;
    }
    #contact-1403 .cs-link:hover {
        text-decoration: underline;
    }
    #contact-1403 .cs-icon-wrapper {
        width: 3.75rem;
        height: 3.75rem;
        margin: 0;
        border-radius: 50%;
        border: 1px solid #bababa;
        display: flex;
        justify-content: center;
        align-items: center;
        /* prevents flexbox from squishing it */
        flex: none;
        transition: transform 0.3s;
    }
    #contact-1403 .cs-icon {
        width: 1.5rem;
        height: auto;
        display: block;
    }
    #contact-1403 .cs-form {
        width: 100%;
        max-width: 39.375rem;
        /* -30px to -100px */
        margin-bottom: calc(clamp(1.875rem, 7vw, 6.25rem) * -1);
        /* 24px - 48px top and bottom */
        /* 16px - 48px left and right */
        padding: clamp(1.5rem, 5.18vw, 3rem) clamp(1rem, 4vw, 3rem);
        /* prevents flexbox from affecting height and width */
        box-sizing: border-box;
        background-color: #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.75rem;
    }
    #contact-1403 .cs-h3 {
        /* 20px - 39px */
        font-size: clamp(1.25rem, 3vw, 2.4375rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0 0 0.25rem 0;
        color: var(--headerColor);
    }
    #contact-1403 .cs-label {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        width: 100%;
        color: var(--headerColor);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0.25rem;
    }
    #contact-1403 .cs-input {
        font-size: 1rem;
        width: 100%;
        height: 3.5rem;
        padding: 0;
        padding-left: 1.5rem;
        color: var(--headerColor);
        background-color: #f7f7f7;
        border-radius: 0.5rem;
        border: none;
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
    }
    #contact-1403 .cs-input::placeholder {
        color: #7d799c;
        opacity: 0.6;
    }
    #contact-1403 .cs-textarea {
        min-height: 7.5rem;
        padding-top: 1.5rem;
        margin-bottom: 0.75rem;
        font-family: inherit;
    }
    #contact-1403 .cs-button-solid {
        font-size: 1rem;
        line-height: 3.5rem;
        text-decoration: none;
        font-weight: 700;
        overflow: hidden;
        margin: 0;
        color: #fff;
        padding: 0 3rem;
        border-radius: 1.875rem;
        background-color: var(--primary);
        display: inline-block;
        position: relative;
        z-index: 1;
        transition: color 0.3s;
    }
    #contact-1403 .cs-button-solid:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 0%;
        background: #1a1a1a;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        transition: width 0.3s;
    }
    #contact-1403 .cs-button-solid:hover {
        color: var(--primary);
    }
    #contact-1403 .cs-button-solid:hover:before {
        width: 100%;
    }
    #contact-1403 .cs-submit {
        width: 100%;
        min-width: 12.5rem;
        border: none;
    }
    #contact-1403 .cs-submit:hover {
        color: #fff;
        cursor: pointer;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #contact-1403 .cs-container {
        max-width: 80rem;
        flex-direction: row;
        justify-content: space-between;
    }
    #contact-1403 .cs-content {
        width: 47%;
        /* prevents flexbox from squishing it */
        flex: none;
    }
    #contact-1403 .cs-submit {
        width: auto;
    }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #contact-1403 .cs-form {
        width: 46%;
        max-width: 36.125rem;
    }
    #contact-1403 .cs-submit {
        width: auto;
    }
}
/* Large Desktop - 1500px */
@media only screen and (min-width: 93.75rem) {
    #contact-1403 .cs-graphic {
        display: block;
    }
}

/*-- -------------------------- -->
<---    Google Maps Iframe      -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #map-1403 iframe {
        width: 100%;
        /* 400px - 560px */
        height: clamp(25rem, 42vw, 35rem);
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1403 {
        /* centers the button */
        text-align: center;
        padding: var(--sectionPadding);
        /* clips the orbs from causing overflow issues */
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    #reviews-1403 .cs-container {
        width: 100%;
        /* changes to 1024px at tablet */
        max-width: 36.5rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #reviews-1403 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: center;
    }
    #reviews-1403 .cs-topper {
        font-size: var(--topperFontSize);
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
    }
    #reviews-1403 .cs-title {
        font-size: var(--headerFontSize);
        font-weight: 900;
        line-height: 1.2em;
        text-align: inherit;
        max-width: 43.75rem;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
    }
    #reviews-1403 .cs-title {
        max-width: 20ch;
        margin: 0;
    }
    #reviews-1403 .cs-card-group {
        width: 100%;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        /* 16px - 20px */
        gap: clamp(1rem, 2.5vw, 1.15rem);
    }
    #reviews-1403 .cs-item {
        list-style: none;
        text-align: left;
        /* 20px - 60px */
        padding: clamp(1rem, 4vw, 3.75rem);
        background-color: #fff;
        /* 12px - 24px */
        border-radius: clamp(0.75rem, 1.5vw, 1.25rem);
        /* prevents padding from adding to height and width */
        box-sizing: border-box;
        /* clips the pseudo box from overflowing */
        overflow: hidden;
        display: flex;
        grid-column: span 12;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    #reviews-1403 .cs-item:before {
        /* background color */
        content: "";
        width: 100%;
        height: 100%;
        background: var(--primary);
        opacity: 0.05;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        z-index: -1;
        /* prevents the mouse from interacting it */
        pointer-events: none;
    }
    #reviews-1403 .cs-quote {
        /* 72px - 120px */
        width: clamp(4.5rem, 10vw, 7.5rem);
        height: auto;
        /* 32px - 64px */
        margin-bottom: clamp(2rem, 6vw, 4rem);
        display: block;
    }
    .cs-quote {
  filter: grayscale(100%);
  opacity: 50%;
}
    #reviews-1403 .cs-item-text {
        /* 16px - 25px */
        font-size: clamp(1rem, 2.6vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: bold;
        margin: 0;
        /* 24px - 64px */
        margin-bottom: clamp(1.5rem, 6vw, 4rem);
        color: var(--bodyTextColor);
    }
    #reviews-1403 .cs-flex-group {
        /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
        margin-top: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        /* 8px - 24px */
        gap: clamp(0.8rem, 1.5vw, 1rem);
    }
    #reviews-1403 .cs-profile {
    width: clamp(2.5rem, 5vw, 3.25rem);
    height: clamp(2.5rem, 5vw, 3.25rem);
    margin: 0;
    border-radius: 50%;
    box-sizing: border-box;
    border: 2px solid #fff;
    overflow: hidden;   /* Keep this so the image is clipped to the circle */
    position: relative;
    display: block;
}

#reviews-1403 .cs-profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;   /* Ensures the image fills the circle without distortion */
    display: block;      /* Helps ensure the image occupies its container properly */
}

    #reviews-1403 .cs-name {
        /* 16px - 25px */
        font-size: clamp(1rem, 2.5vw, 1.5625rem);
        line-height: 1.2em;
        font-weight: 700;
        margin: 0;
        color: var(--headerColor);
        display: block;
    }
    #reviews-1403 .cs-job {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1.5vw, 1rem);
        line-height: 1.5em;
        font-weight: 400;
        margin: 0;
        color: #746f95;
        display: block;
    }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1403 .cs-container {
        max-width: 80rem;
    }
    #reviews-1403 .cs-item {
        grid-column: span 6;
    }
}

                                
</style>


                              



<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

  /*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    :root {
      /* 13px - 16px */
      --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
      /* 31px - 49px */
      --headerFontSize: clamp(1.9375rem, 4.5vw, 3.0625rem);
      --bodyFontSize: 1rem;

      /* 60px - 100px top and bottom */
      --sectionPadding: clamp(3.75em, 7.82vw, 6.25em) 1rem;
    }

    #cs-contact {
      font-family: "Roboto", "Arial", sans-serif;
      padding: var(--sectionPadding);

      .cs-container {
        width: 100%;
        /* changes to 1280px at desktop */
        max-width: (800/16rem);
        margin: auto;
      }

      .cs-content {
        width: 100%;
      }

      .cs-topper {
        text-align: left;
        /* 8px - 12px */
        margin-bottom: clamp(0.5rem, 1.4vw, 0.75rem);
      }

      .cs-title {
        text-align: left;
        max-width: (800/16rem);
      }

      .cs-text {
        text-align: left;
        /* 404px - 522px */
        max-width: clamp(25.25rem, 30vw, 32.625rem);
        margin: 0 auto 0 0;
        /* 40px - 48px */
        margin-bottom: clamp(2.5rem, 6.3vw, 3rem);
      }

      #cs-form {
        margin-bottom: (40/16rem);
        label {
          font-size: (16/16rem);
          font-weight: 700;
          line-height: 1.5em;
          /* 12px - 20px */
          margin-bottom: clamp(0.75rem, 1.3em, 1.25rem);
          color: var(--headerColor);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .cs-label-message {
          /* 32px - 48px */
          margin-bottom: clamp(2rem, 6.3vw, 3rem);
        }

        input,
        textarea {
          font-size: (16/16rem);
          width: 100%;
          height: (64/16rem);
          margin-top: (4/16rem);
          /* prevents border & padding from affecting height */
          box-sizing: border-box;
          padding-left: (20/16rem);
          border: 1px solid #b4b2c7;
          border-radius: (8/16rem);
          transition: border 0.3s;

          &:hover {
            border: 1px solid var(--primary);
          }
        }

        textarea {
          font-family: inherit;
          min-height: (120/16rem);
          padding-top: (20/16rem);
        }

        .cs-button-solid {
          width: 100%;
          border: none;
        }
      }

      .cs-right-section {
        height: (320/16rem);
        /* 24px - 40px top & bottom */
        /* 20px - 40px left & right */
        padding: clamp(1.5rem, 3vw, 2.5rem) clamp(1.25rem, 3vw, 2.5rem);
        border-radius: (8/16rem);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        position: relative;
        /* cuts off corners on img tag */
        overflow: hidden;
      }

      .cs-header {
        /* 16px - 20px */
        font-size: clamp(1rem, 3vw, 1.25rem);
        font-weight: 700;
        line-height: 1.2em;
        margin-bottom: (8/16rem);
        color: var(--bodyTextColorWhite);
        display: block;
      }

      .cs-link {
        /* 16px - 20px */
        font-size: clamp(1rem, 3vw, 1.25rem);
        line-height: 1.2em;
        text-decoration: none;
        margin-bottom: (20/16rem);
        color: var(--bodyTextColorWhite);
        display: block;
        position: relative;

        &:before {
          /* Animated underline */
          content: "";
          width: 0%;
          height: 2px;
          /* current color of the parent */
          background: currentColor;
          opacity: 1;
          display: block;
          position: absolute;
          bottom: (-2/16rem);
          left: 0;
          transition: width 0.3s;
        }

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .cs-block {
        /* sends second address line to the bottom on its own line */
        display: block;
      }

      .cs-bg-picture {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: transform 0.6s;

        &:before {
          /* background color overlay */
          content: "";
          width: 100%;
          height: 100%;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          );
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
        }

        img {
          width: 100%;
          height: 100%;
          /* Makes img tag act as a background image */
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }

  /* Tablet - 700px */
  @media only screen and (min-width: 43.75em) {
    #cs-contact {
      #cs-form {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;

        label {
          width: 48%;
        }

        .cs-label-message {
          width: 100%;
        }
      }
    }
  }

  /* Small Desktop - 1024px */
  @media only screen and (min-width: 64em) {
    #cs-contact {
      .cs-container {
        max-width: (1280/16rem);
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: (80/16rem);
      }

      #cs-form {
        max-width: (630/16rem);
        label {
          width: 100%;
        }
      }

      .cs-right-section {
        width: 40%;
        max-width: (542/16rem);
        /* changes to 578px at 1300px wide */
        height: (686/16rem);
        /* prevents flexbox from squishing it */
        flex: none;

        &:hover {
          .cs-bg-picture {
            transform: scale(1.1);
          }
        }
      }

      .cs-block {
        /* goes back to inline so it stays "in line" with the rest of the text */
        display: inline-block;
      }
    }
  }

  /* Small Desktop - 1300px */
  @media only screen and (min-width: 81.25em) {
    #cs-contact {
      #cs-form {
        column-gap: (0/16rem);
        label {
          width: 48%;
          max-width: (305/16rem);
        }

        .cs-label-message {
          max-width: 100%;
        }
      }

      .cs-right-section {
        height: (578/16rem);
      }
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #cs-contact {
        .cs-text,
        .cs-title {
          color: var(--bodyTextColorWhite);
        }

        #cs-form {
          label,
          input,
          textarea {
            color: var(--bodyTextColorWhite);
            background-color: transparent;

            &::placeholder {
              /* lighten up the color of the text by 40%*/
              filter: brightness(1.4);
            }
          }
        }

        .cs-bg-picture {
          background-color: #000;

          img {
            /* lets parent background-color bleed through and darken it */
            opacity: 0.5;
          }
        }
      }
    }
  }
</style>



  
</BaseLayout>




                              
